<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body class="text-center">
    <h1>Rides Edits</h1>
    <form action="/rides/<%=ride.id%>?_method=PUT" method="POST">
<br>
      <label for="letter">letter:</label>
      <input type="text" name="letter" value="<%=ride.letter%>">
<br>
      <label for="distance">Distance:</label>
      <input type="mongoose.Types.Decimal128" name="distance" value="<%=ride.distance%>">
<br>
      <label for="topSpeed">Top Speed:</label>
      <input type="mongoose.Types.Decimal128" name="topSpeed" value="<%=ride.topSpeed%>">
<br>
    <input type="submit" value="Submit">
    </form>
    <button type="button" name="button">
      <a href="/rides">Back</a>
    </button>
  </body>
</html>
