<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body style="background-color:teal">

    <div class="container">
        <%- include ('./partials/nav.ejs') %>
    <h1>Edit this ride</h1>

    <form action="/rides/<%=ride.id%>?_method=PUT" method="POST">
<br>
      <label for="time">Time:</label>
      <input type="mongoose.Types.Decimal128" name="time" value="<%=ride.time%>">
<br>
<br>
      <label for="topSpeed">Top Speed:</label>
      <input type="mongoose.Types.Decimal128" name="topSpeed" value="<%=ride.topSpeed%>">
<br>
<br>
    <label for="img">Link to verification:</label>
    <input type="text" name="imgVerify" value="<%=ride.imgVerify%>">
<br>
    <input type="submit" value="Submit" style="margin-top:20px">
    </form>
      <a href="/rides/<%=ride._id%>">
        <button type="button" name="button" style="margin-top:20px">
          Back
    </button></a>
    </div>
  </body>
</html>
