<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <nav>
        <%- include ('./partials/nav.ejs') %>
      </nav>
<br>
<p>The current leaderboard is for the 1000ft drag on East 5th st.</p>
<p>It start east of Springdale Rd and lasts until you pass Spencer Ln.</p>
</div>
<div>

  <h1>1000 ft. drag</h1>
      <table class="table">
  <% for (let ride of rides) { %>
  <thead>
    <tr>
      <th></th>
      <th>Time</th>
      <th>Top Speed</th>
      <th></th>
    </tr>
  </thead>
    <tr>
      <td><%= ride.username%> </td>
      <td><%= ride.time %></td>
      <td><%= ride.topSpeed %></td>
      <td><a href="/rides/<%=ride._id%>"><button type="button" name="Show">Ride Data</button></a></td>
    </tr>
  <%}%>
  </table>
</div>
  </body>
</html>
